{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}登录{% endblock %}
{% block css %}
<link href="{% static 'login/css/login.css' %}" rel="stylesheet"/>{% endblock %}


{% block content %}
        <form class='form-login' action="/login/" method="post">
            {% if message %}
            <div class="alert alert-warning">{{ message }}</div>
            {% endif %}

            {% csrf_token %}
            <button type="submit" class="btn btn-primary pull-right">登录</button>
        </form>

{% endblock %}
